form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 20px;
    border: 2px solid;
    border-radius: 20px;
    height: 200px;
    margin: auto;
    margin-top: 200px;
}
input{
    padding: 5px;
}
button{
    background-color: green;
    color: white;
    width: 100px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;

}